SensateIoT.SmartEnergy.Dsmr.WebClient.Common/Connected Services/WCF.Parser/SensateIoT.SmartEnergy.Dsmr.Parser.Contracts.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SensateIoT.SmartEnergy.Dsmr.Parser.Contracts.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SensateIoT.SmartEnergy.Dsmr.Parser.Contracts.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Telegram">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentTariff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnergyData" nillable="true" type="tns:EnergyData" />
      <xs:element minOccurs="0" name="GasData" nillable="true" type="tns:GasData" />
      <xs:element minOccurs="0" name="PowerData" nillable="true" type="tns:PowerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Telegram" nillable="true" type="tns:Telegram" />
  <xs:complexType name="EnergyData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnergyConsumptionTariff1" type="xs:decimal" />
      <xs:element minOccurs="0" name="EnergyConsumptionTariff2" type="xs:decimal" />
      <xs:element minOccurs="0" name="EnergyProductionTariff1" type="xs:decimal" />
      <xs:element minOccurs="0" name="EnergyProductionTariff2" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnergyData" nillable="true" type="tns:EnergyData" />
  <xs:complexType name="GasData">
    <xs:sequence>
      <xs:element minOccurs="0" name="GasConsumption" type="xs:decimal" />
      <xs:element minOccurs="0" name="GasFlow" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GasData" nillable="true" type="tns:GasData" />
  <xs:complexType name="PowerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstantaneousCurrent" type="xs:decimal" />
      <xs:element minOccurs="0" name="InstantaneousPowerProduction" type="xs:decimal" />
      <xs:element minOccurs="0" name="InstantaneousPowerUsage" type="xs:decimal" />
      <xs:element minOccurs="0" name="InstantaneousVoltage" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PowerData" nillable="true" type="tns:PowerData" />
</xs:schema>